---
http_interactions:
- request:
    method: get
    uri: https://api.privatbank.ua/p24api/pubinfo?coursid=5&exchange&json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"ccy":"USD","base_ccy":"UAH","buy":"25.35000","sale":"25.75000"},{"ccy":"EUR","base_ccy":"UAH","buy":"28.10000","sale":"28.75000"},{"ccy":"RUR","base_ccy":"UAH","buy":"0.36800","sale":"0.40800"},{"ccy":"BTC","base_ccy":"USD","buy":"9070.2121","sale":"10024.9713"}]'
  recorded_at: Sun, 28 Jul 2019 18:18:24 GMT
recorded_with: VCR 4.0.0
