<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Welcome to EBAY, <%= @order.name %></h1>
<p>Your order has been successfully placed</p>
</body>
</html>