/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$shop-dark-blue: #0C0FBA;
$shop-header-color: #feefae;

nav {
  background: $shop-header-color;

    a {
    color: black;

    &:hover {
      color: $shop-dark-blue;
    }
  }
}

.shop_logo {
  width: 205px;
}

.shop_ex {
  background: $shop-header-color;
  color: darkred;
  text-align: end;

}

.active a {
  color: $shop-dark-blue;
}